body{width:800px;}
h1{margin:0px;padding:0px;}
h2{margin:0px;padding:0px;font-size:1em;}
ul {list-style:none; margin: 0px; padding:0px;}

.header .panel {align-items: stretch; float:left; margin: 5px;}
.header {	
	display: flex; 
	width: 100%; 	
	overflow: hidden;
	margin: 5px;
}

.selector.panel {clear:both;display:block; margin:5px 0px;padding:10px 5px;width:100%;}
a.selector {
	padding: 5px 20px;
	margin:5px;
}

.page{
	width:100%;
}

.page>.panel{
	width:100%;
}

a.selector.active {
	border-radius: 5px 5px 5px 5px;
	box-shadow: 2px 2px 7px rgba(0,0,0,.5);
	background: #fff;
}
ul.increments{
	list-style:none;
}

ul.increments li{
	width:150px;
	height: 30px;
	float:left;
}

.panel.global-local {float:right;}

ul.jog{
	width: 420px;
	list-style:none;
}

ul.jog li{
	width:70px;
	height: 30px;
	float:left;
}

ul.jog input {
	width:100%;
	height:100%; 
}

.keyboard-jog {
	width: 80%;
	height: 80px;
	display:block;
	margin: 10px;
}

.keyboard-jog:focus {
	background: #00ff00;
}

.led{
	display: inline-block;
	width: 20px;
	height:20px;
	border-radius: 8px;
}

.led.on{
		background: #00ff00;
		box-shadow: 2px 2px 7px rgba(0,100,0,.5);
}

.led.off{
		background: #ff0000;
		box-shadow: 2px 2px 7px rgba(100,0,0,.5);
}




div.panel {
	background: #eee;
	border-radius: 0px 5px 5px 5px;
	box-shadow: 2px 2px 7px rgba(0,0,0,.5);
	padding: 5px;
	padding-top: 10px;
	overflow:hidden;
	display: inline-block;	
}

.panel.status {
	width:250px; 
}

dl {overflow: hidden;}
dt {float: left; width:150px;}
dd {width:100px;margin-left:150px;}
dd input {width:100%;}


textarea.prog {
	float: right;
	width: 40%;
	height: 300px;
}

textarea.csv {
	tab-size: 5;
	float: right;
	width: 20%;
	height: 300px;
}



